* {
	margin:0;
	padding:0;
}

body {
    margin: 0;
	padding: 0;
    background-color: #606060;
}

/* 全角文字を半角にして表示する用 */
.letterHalf {
    transform-origin: top left;
    transform: scale(0.5, 1.0);
    display: inline-block;
    width: 8px;
    height: 16px;
}












.console {
    font-size: 16px;
    line-height: 16px;
    transform-origin: top left;
    background-color:#00000000;
    color: #FFFFFFFF; /* デフォルトの文字の色を白に */
    display: inline-block;
}

.console .rot90 {
    display: inline-block;
    transform: rotate(90deg);
}

.console .rot180 {
    display: inline-block;
    transform: rotate(180deg);
}

.console .rot270 {
    display: inline-block;
    transform: rotate(270deg);
}

.console .h {
    display: inline-block;
    transform: scaleX(-1);
}

.console .v {
    display: inline-block;
    transform: scaleY(-1);
}

.console .hv {
    display: inline-block;
    transform: scale(-1,-1);
}

.console .cursor {
    background: linear-gradient(to right, rgba(200, 200, 200, 1.0) 20%, rgba(0, 0, 0, 1.0) 20%);
    animation-duration: 1.0s;
    animation-name: cursorAnimation;
    animation-iteration-count: infinite;
}
  
@keyframes cursorAnimation {
    from {
        background: linear-gradient(to right, rgba(200, 200, 200, 1.0) 25%, rgba(0, 0, 0, 1.0) 25%); 
    }
    to {
        background: linear-gradient(to right, rgba(200, 200, 200, 0.0) 25%, rgba(0, 0, 0, 1.0) 25%);
    }
}

.graphicsLayer {
    width: 100%;
    height: 200px;
    transform-origin: top left;
    transform: scaleY(2.0);
}

.canvas-wrapper {
    position: relative;
    width: 640px;
    height: 400px;
    margin: 0;

    transform-origin: top left;
}

.canvas-wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.canvas-wrapper .console {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

























































.cat-bar {
    background-color: #333;
    width: 640px;
    cursor: default;
    user-select: none;
}

.cat-bar-inner {
    display: flex; /* 横並びに配置する */
    border-color: #111;
    border-style:solid;
    border-width: 1px;
}

.cat-bar-media {
    color: #CECECE;
    text-align: center;
    font-size: 12px;
}

.cat-bar-media ul {
    display: flex; /* 横並びに配置する */
    list-style: none; /* リストの●を出さないように */
    margin: 0px;
}

.cat-bar-media ul li {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 5px;
    position: relative;
    width: 24px;
    height: 24px;
}

.cat-bar-media ul li ul {
    display: block; /* 子供は縦の並びに配置する */
    position: absolute;

    top: 0px;
    left: -4px;
    height: 0px;
    width: 180px;

    /* 非表示 */
    visibility: hidden;
    /* 矩形でクリッピング */
    clip-path:inset(0px);

    background-color: #101010;
    transition: all 0.1s;
    transition-timing-function: ease-out;
}
.cat-bar-media ul li:hover ul {
    visibility: visible;
    top: -128px;
    height: 128px; /* 4:102 5:126 6:150 7:174 */
}



/*下の階層を持っているulの指定*/
.cat-bar-media ul li ul li {
    /*絶対配置で位置を指定*/
    position: relative;
    width: 250px;
    left: -40px;
    height: 16px;
}

.cat-bar-media ul li ul li div {
    /*
    background-color: #292929;
    */
    height: 16px;

    transition: all 0.1s;
}
.cat-bar-media ul li ul li div:hover {
    background-color: #CFCFCF;
    color: #202020;
}


/* メディアメニューの無効な項目 */
.media-menu-item-disable {
    color: #606060;
    pointer-events: none; /* マウスイベントを受け付けないように */
}

/* メディアメニューのヘッダ部分 */
.media-menu-item-header {
    background-color: #5A5A5A;
    font-weight: bold;
    pointer-events: none; /* マウスイベントを受け付けないように */
}




.cat-bar-system {
    display: flex; /* 横に並べる */
    margin: 0 0 0 auto; /* 右寄せ */
}








