.sos-logo {
    font-family: 'Space Grotesk', sans-serif;
    display: flex; /* 横並びに配置する */
    color: #FFFFFF;
    font-size: 14pt;
    margin-left: 30px;
    filter: drop-shadow(0px 0px 2px rgb(255, 192, 192));
}
.sos-logo span:first-letter {
    font-family: 'Space Grotesk', sans-serif;
    color: #FF0000;
    font-size: 16pt;
}

/*
.css-tooltip{
    position: relative;
    
  }
  .css-tooltip:hover:after{
    content:attr(data-tooltip);
    background:#000;
    padding:5px;
    border-radius:3px; 
    display: inline-block;
    position: absolute;
    transform: translate(-50%,-100%); 
    margin:0 auto;
    color:#FFF;
    min-width:100px;
    min-width:150px;
    top:-5px;
    left: 50%;
    text-align:center;
  }
  .css-tooltip:hover:before {
    top:-5px;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #000;
    border-width: 5px;
    margin-left: -5px;
         transform: translate(0,0px); 
  }
  */


.content-table {
  border-collapse: collapse;
  width:100%;
  font-size: 1.5em;
  overflow: hidden;
}

.content-table thead tr {
  background: #005498;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
  transition: 0.8s all ease;
}
/* 偶数行をグレーに */
.content-table tbody tr:nth-of-type(even) {
  background: #f3f3f3;
}
/* テーブルの下の枠を装飾 */
.content-table tbody tr:last-of-type {
  border-bottom: 0.8em solid #005498;
}
/* マウスをのせた時のエフェクト */
.content-table tbody tr:hover {
  background: #f3f380;
  color: #005498;
}

.content-table thead th {
  resize: horizontal;
  overflow: hidden;
}

.box {
  overflow-y:scroll;
  width:auto;
  height: 270px;
  margin: 10px;
  overflow-y: scroll;          /* 縦方向にスクロール可能にする */
  border-radius: 5px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  font-size: 6px;
}
